@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

.App {
  background-color: #FAF9F8;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #020111;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.App-routes {
  padding: 10%;
  line-height: 200%;
}
h1{
  font-size:2.5em;
  font-family: 'Source Serif Pro', sans-serif;
}

h2{
  font-family: 'Source Serif Pro', sans-serif;
}
h3{
  font-family: 'Source Serif Pro', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: calc(7px + 2vmin);
}

.Vid {
  padding:10%
}
.HomePage{
  padding: 10%;
  line-height: 200%;
}